#home
  .container
    .row
      #latest-articles.col-md-8
        = render 'shared/article_list'
        .loadmore.text-center= link_to "もっと記事を表示する", articles_path, class: "btn btn-pc"

      .col-md-4
        %aside#sidebar
          = render 'shared/popular_articles', locals: {popular_article_ids: @popular_article_ids}
