/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap/dist/css/bootstrap.min.css
 *= require medium-editor/dist/css/medium-editor
 *= require medium-editor/dist/css/themes/flat
 *= require medium-editor-insert-plugin/dist/css/medium-editor-insert-plugin
 *= require medium-editor-insert-plugin/dist/css/medium-editor-insert-plugin-frontend
 *= require_self
 */

@import "compass";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}



/* Variables */
// Color
$b1:        #111111;
$b3:        #333333;
$aa:        #aaaaaa;
$e0:        #e0e0e0;
$f7:        #f7f7f7;
$pc:        #2c9ab7; // primary color
$pc_d10:    #13819e; // primary color + 10% darker
$lb:        #6dc5dc; // light blue
$pn:        #f09c8c; // pink

// Typography
$base-font: "Helvetica", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "Arial", sans-serif;
$logo-font: 'Montserrat', sans-serif;



/* Global Setting */
body {
  color: $b3;
  font-family: $base-font;
  @include font-smoothing(on);
  h1, h2, h3, h4, h5, h6 {font-weight: 700; margin: 0}
  p {line-height: 1.8; margin-bottom: 15px;}
  a {color: $pc}
  a:hover {color: $pc_d10}
  img {max-width: 100%;}
}
#flex-wrapper {display: flex; min-height: 100vh; flex-direction: column;}
#flex-body {flex: 1;}



/* Layout */
// Header
#header {
  .navbar {margin-bottom: 0;}
  .navbar-default {background-color: white; border: none;}
  .navbar-brand {color: $b1; font-size: 40px; font-weight: 700; height: 60px; line-height: 40px; padding: 10px 15px;}
  .navbar-slogan {color: $b1; font-weight: 700; margin: 30px 0 0 0;}
  .navbar-button {padding: 13px 15px 13px 0;}
  #admin-header .navbar-nav > li > a, #user-header .navbar-nav > li > a {padding-top: 20px; padding-bottom: 20px;}
}

#footer {
  border-top: 1px solid $e0; padding: 15px 0;
  a, a:hover {color: $b1; text-decoration: none;}
  .footer-brand {color: $b1; font-size: 40px; font-weight: 700;}
  .footer-slogan {color: $b1; font-weight: 700;}
  .copyright {margin-top: 10px;}
}

#sidebar {
  h4 {font-size: 14px; font-weight: 700; margin-bottom: 10px;}
  #sidebar-popular-articles, #sidebar-latest-articles {
    margin-bottom: 40px;
    article {
      margin-bottom: 20px;
      .thumb {
        padding-right: 5px;
        img {@include border-radius(4px);}
      }
      .body {
        padding-left: 5px;
        h1 {color: $b3; font-size: 13px; font-weight: 700; line-height: 1.4; margin-bottom: 5px;}
        .date {color: $aa; font-size: 12px; font-weight: 100;}
      }
    }
    article:hover {
      img {@include opacity(0.7); @include transition(0.5s);}
    }
  }
}



/* Common Components */
// Alert
.alert-wrapper {position: relative;}
.alert {position: absolute; top: 80px; right: 20px; z-index: 1; @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.05));}

// Button
.btn {}
.btn-pc {color: white; background-color: $pc;}
.btn-pc:hover, .btn-pc:focus {color: white; background-color: $pc_d10;}
.btn-ghost {color: $pc; background-color: white; border-color: $pc}
.btn-ghost:hover, .btn-ghost:focus {color: $pc_d10; border-color: $pc_d10;}

// Font
.logo-font {font-family: $logo-font;}

// Form
.field {margin-bottom: 20px;}
.form-control {border: 2px solid $e0; box-shadow: none;}
.form-control:hover {border-color: $aa; box-shadow: none;}
.form-control:focus {border-color: $lb; box-shadow: none;}
.input-group-addon {border-top: 2px solid $e0; border-bottom: 2px solid $e0; border-left: 2px solid $e0;}
.select-form-control {width: auto; display: inline-block;}

// Image
.image-round {@include border-radius(4px);}

// Pagination
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {background-color: $pc; border-color: $pc;}
.pagination>li>a, .pagination>li>span, .pagination>li>a:hover, .pagination>li>span:hover {color: $pc;}

// Spacing
.mb-5 {margin-bottom: 5px;}
.mb-10 {margin-bottom: 10px;}
.mb-20 {margin-bottom: 20px;}
.mb-40 {margin-bottom: 40px;}
.mh-100 {min-height: 100px;}



/* Pages */
// Home
#home {
  padding-bottom: 50px;
  #latest-articles {
    article {
      margin-bottom: 40px; min-height: 280px;
      h1 {color: $b3; font-size: 16px; font-weight: 700; line-height: 1.4; margin-bottom: 5px;}
      img {@include border-radius(4px); margin-bottom: 10px;}
      a:hover, a:focus {text-decoration: none;}
      .category {font-size: 12px; margin-bottom: 5px;}
      .content {
        color: $aa; font-size: 12px; font-weight: 100; margin-bottom: 5px;
        p {line-height: 1.4;}
      }
      .date {color: $aa; font-size: 12px; font-weight: 100; margin: 3px 0 5px;}
    }
    article:hover {
      img {@include opacity(0.7); @include transition(0.5s);}
    }
    .readmore .btn {font-weight: 700;}
  }
}

// User
#user-authentification {
  padding: 50px 0;
  h2 {font-size: 24px; margin-bottom: 20px;}
}

// Article & Category
#article-management {
  padding: 50px 0;
  h1 {font-size: 24px; margin-bottom: 20px;}
  h2 {font-size: 16px;}
  header {}
  #search {
    background-color: $f7; @include border-radius(4px); margin-bottom: 50px; padding: 15px;
    h2 {margin-bottom: 10px;}
  }
  table {
    thead {
      th a {color: $b3;}
    }
  }
  .editable {
    overflow-y: scroll;
    padding: 6px 12px;
    line-height: 1.42857143;
    resize: none;
    min-height: 300px;
    border: 2px solid $e0;
    box-shadow: none;
    @include border-radius(4px);
    outline: none;
    h2 {font-size: 24px; margin: 80px 0 20px;}
    h3 {font-size: 18px; margin: 80px 0 20px;}
    p {font-size: 16px; line-height: 1.8; margin-bottom: 30px;}
  }
  .editable:hover {border-color: $aa; box-shadow: none;}
  .editable:focus {border-color: $lb; box-shadow: none;}
  .uploading {color: $pc; font-weight: 700; border: 2px solid $lb; @include border-radius(4px); padding: 10px 15px;}
}

#article {
  padding: 50px 0;
  header {
    margin-bottom: 50px;
    h1 {font-size: 26px; margin-bottom: 10px;}
    .date {color: $aa; border-right: 1px solid $e0; margin: 0 10px 10px 0; padding-right: 10px;}
    .social {
      .facebook, .twitter {margin-right: 5px;}
    }
    .full-header {margin-left: -15px; margin-right: -15px;}
  }
  .content {
    h3, h4 {margin: 80px 0 20px;}
    p {font-size: 16px; line-height: 1.8; margin-bottom: 30px;}
  }
  .navigation {
    margin: 30px 0;
    small {color: $aa;}
    h5 {color: $b3; margin-top: 5px;}
    img {@include border-radius(4px);}
    .prev_article, .next_article {margin-bottom: 20px;}
  }
  .related-articles, .articles-list {
    article {
      margin-bottom: 40px; min-height: 280px;
      h1 {color: $b3; font-size: 16px; font-weight: 700; line-height: 1.4; margin-bottom: 5px;}
      img {@include border-radius(4px); margin-bottom: 10px;}
      a:hover, a:focus {text-decoration: none;}
      .content, .content p {color: $aa; font-size: 12px; font-weight: 100; line-height: 1.4; margin-bottom: 5px;}
      .date {color: $aa; font-size: 12px; font-weight: 100; margin: 3px 0 5px;}
    }
    article:hover {
      img {@include opacity(0.7); @include transition(0.5s);}
    }
  }
}
