%footer#footer
  .container
    .row
      .col-md-4
        %a{href: root_url, data: {no_turbolink: true}}
          .footer-brand.logo-font= "#{Settings.site[:name]}"
          .copyright.logo-font XXX, Inc. All Rights Reserved.
