%footer#footer
  .container
    .row.text-center
      .col-xs-12
        .footer-brand.logo-font= link_to "#{Settings.site[:name]}", root_path, data: {no_turbolink: true}
      .col-xs-12
        .copyright.logo-font XXX, Inc. All Rights Reserved.
