%meta{charset: 'UTF-8'}/
%meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
%meta{content: 'NOYDIR', name: 'ROBOTS'}
%meta{content: 'NOODP', name: 'ROBOTS'}
= display_meta_tags default_meta_tags

-# Social Buttons
:javascript
  (function(w,d){
    var s,e = d.getElementsByTagName("script")[0],
    a=function(u,f){if(!d.getElementById(f)){s=d.createElement("script");
    s.async=!0;s.src=u;if(f){s.id=f;}e.parentNode.insertBefore(s,e);}};

    a("//b.st-hatena.com/js/bookmark_button_wo_al.js");
    a("//platform.twitter.com/widgets.js","twitter-wjs");
    a("https://widgets.getpocket.com/v1/j/btn.js?v=1");
  })(this, document);
